
{{ "My home page" | translate }}
<div class="row">
	<div class="col-md-6">
		<div class="well">
			<div class="row">
				Selected date: {{selectedDate}}
			</div>
			<div class="row">
				pickerState: 
				<pre>{{pickerString}}</pre>
			</div>
		</div>
		<button ng-click="setToday()">Set Today</button>
		<button ng-click="toggleIsOpen()">Toggle Open</button>
		<button ng-click="toggleAlignment()">Toggle Align</button>
	</div>
	<div class="col-md-6">
		<betterpicker ng-model="selectedDate" state="pickerState"></betterpicker>
	</div>
</div>
